#main {
  max-width: 1280px;
  max-height: 100%;
  margin: 30px auto;
  padding: 15px;
  background-color: #dddddd;
  border-radius: 5px;
}

#text {
  color: white;
}

#title {
  text-align: center;
}

#main > p {
  text-align: center;
}

#img-div {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: #ffffff;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%; 
  padding: 15px;
}

#tribute-info {
  max-width: 600px;
  margin: 0 auto;
}

#tribute-info > h3 {
  text-align: center;
}

#tribute-info > ul li {
  margin-bottom: 10px;
  line-height: 3opx;
}

h5 {
  text-align: center;
}


